<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<link rel="stylesheet" href="/css/main.css" />

<% if (mode.includes('dev')) { %>
<script>
  const port = <%= port %>; // Safely inject port
  const ws = new WebSocket(`ws://127.0.0.1:${port + 1}`);
  ws.onclose = () => {
      setTimeout(() => location.reload(), 2000);
  };
</script>
<% } %>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/account/john/1234">Account (John)</a></li>
    <li><a href="/account/0987/1234">Account (Bad Name)</a></li>
    <li><a href="/account/john/doe">Account (Bad ID)</a></li>
  </ul>
</nav>
