<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>

  <% if (locals.styles && locals.styles.length > 0) { %> <%
  locals.styles.forEach((style) => { %>
  <link rel="stylesheet" href="<%= style %>" />
  <% }) %> <% } %> <% if (locals.scripts && locals.scripts.length > 0) { %> <%
  locals.scripts.forEach((script) => { %> <%= script %> <% }) %> <% } %>
</head>
